{% extends 'partials/base.html.twig' %}

{% block content %}

	<!-- header section -->
	<div class="s-header uk-section uk-section-default">
		<div class="uk-container">
			<h1 class="s-header-title">Металлоконструкции<br>
				<span>на заказ</span>
			</h1>
			<div class="s-header-promo uk-grid-small uk-child-width-1-2@m" uk-grid="">
				{% for item in page.header.promo %}
					<a class="s-header-promo-item" href="{{item.link}}">
						<span uk-icon="icon: bookmark; ratio: 1.2"></span>
						<div class="s-promo-desc">{{item.text}}</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end header -->

	{% for module in page.collection( ) %}
		{{ module.content }}
	{% endfor %}

	<!-- product section -->

	<div class="s-section-product uk-section uk-section-default">
		<div class="uk-container">
			<h3 class="s-section-title">Наша продукция</h3>
			<div class="uk-flex-center uk-child-width-1-3@l uk-child-width-1-2@s" uk-grid="">

				{% for item in page.header.product %}
					<div class="s-card">
						<div class="uk-card uk-card-small uk-border-rounded">
							<div class="uk-card-header">
								<div class="uk-card-title">{{item.text}}</div>
							</div>
							<div class="uk-card-media-top uk-inline uk-dark uk-transition-toggle">
								<a href="{{item.link}}"><img src="/user/pages/01.home/{{item.img}}">
									<div class="uk-transition-fade">
										<div class="uk-overlay-default uk-position-cover"></div>
										<div class="uk-position-center">
											<span uk-overlay-icon=""></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- section gallery -->

	<div class="s-section-gallery uk-section uk-section-secondary">
		<div class="uk-container">
			<h3 class="s-section-title">Наши работы</h3>
		</div>
		<div class="s-gallery-grid uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="" uk-lightbox="">

			{% for item in page.header.gallery %}
				<div class="s-gallery-container uk-inline uk-dark uk-transition-toggle">
					<a href="/user/pages/01.home/{{item.img}}">
						<div class="uk-overlay-primary uk-position-cover uk-transition-fade">
							<div class="uk-position-center">
								<span uk-overlay-icon=""></span>
							</div>
						</div>
					</a>
					<div class="s-gallery-item" style="background-image: url(/user/pages/01.home/{{item.img}})"></div>
				</div>
			{% endfor %}

		</div>
	</div>
	<!-- end section gallery -->

	<section class="uk-section-deffault">
		<div class="home-contact-map">
			<script
				type="text/javascript"
				charset="utf-8"
				async
				src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sD2sMSNBBz0-22QYYnb2Y9aP0lbSn9IL&amp;amp;width=100%25&amp;amp;height=300&amp;amp;lang=ru_RU&amp;amp;sourceType=constructor&amp;amp;scroll=true"></script>
		</div>
	</section>

{% endblock %}
