{% set theme_config = attribute( config.themes, config.system.pages.theme ) %}
<!DOCTYPE html>
<html lang="ru">

	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}{{ header.title|e('html') }}
					|
				{% endif %}{{ site.title|e('html') }}</title>
			{% include 'partials/metadata.html.twig' %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">

			<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
			<link rel="canonical" href="{{ page.url(true, true) }}"/>
			<link rel="apple-touch-icon" href="{{ url('theme://images/favicon/apple-touch-icon.png') }}">
			<link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://images/favicon/apple-touch-icon-72x72.png') }}">
			<link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://images/favicon/apple-touch-icon-114x114.png') }}">
			{% block stylesheets %}
				{% do
					assets.addCss( 'theme://css/site.min.css', 101 ) %}
				{% do
					assets.addCss( 'theme://css/font-awesome.min.css', 100 ) %}
			{% endblock %}
			{{ assets.css() }}
			{% block javascripts %}
				{% do
					assets.addJs( 'theme://js/scripts.min.js', 100 ) %}
			{% endblock %}
			{{ assets.js() }}
		{% endblock head %}
	</head>

	<body id="top" class="{{ page.header.body_classes }}">
		<div class="uk-offcanvas-content">
			<div class="s-top-nav uk-section uk-section-muted uk-padding-remove-vertical" uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
				<div class="uk-container">
					<nav class="uk-navbar-container uk-navbar uk-navbar-transparent">
						<div class="uk-navbar-left uk-visible@s">
							<div class="uk-navbar-item">
								<a class="uk-navbar-item uk-logo" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a>
							</div>
						</div>
						<div class="uk-navbar-center">
							<div class="uk-navbar-item uk-hidden@m">
								<span uk-icon="icon: phone"></span>
								<p class="s-phone-top">{{ site.s_phone }}</p>
							</div>
							<div class="uk-navbar-item uk-visible@m">
								<ul class="s-nav uk-navbar-nav">
									{% for page in pages.children.visible %}
										{% set current_page = ( page.active or page.activeChild )
											? 'uk-active'
											: '' %}
										<li class="{{ current_page }}">
											<a href="{{ page.url }}">
												{{ page.menu }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="uk-navbar-right">
							<div class="uk-navbar-item uk-visible@m">
								<span uk-icon="icon: phone"></span>
								<p class="s_phone-top">{{ site.s_phone }}</p>
							</div>
							<button class="uk-float-right uk-hidden@m" uk-toggle="target: #menu" type="button" uk-icon="icon: menu; ratio: 1.8;"></button>
						</div>
					</nav>
				</div>
				<hr>
			</div>

			{% block header %}{% endblock %}

			{% block content %}
				{{ page.content }}
			{% endblock %}

			<footer class="s-footer uk-section uk-section-secondary">
				<div class="uk-container">
					<div uk-grid="">
						<div class="s-footer-contact-box uk-width-1-1 uk-width-1-3@m uk-child-width-auto" uk-grid="">
							<div>
								<span uk-icon="icon: phone"></span>
								<p class="s-footer-contact-label">
									Телефон:</p>
							</div>
							<div class="s-footer-contact-item uk-width-expand">
								<p>{{ site.s_phone }}</p>
							</div>
						</div>
						<div class="s-footer-contact-box uk-width-1-1 uk-width-1-3@m uk-child-width-auto" uk-grid="">
							<div>
								<span uk-icon="icon: mail"></span>
								<p class="s-footer-contact-label">E-Mail:</p>
							</div>
							<div class="s-footer-contact-item uk-width-expand">
								<p>{{ site.author.email }}</p>
							</div>
						</div>
						<div class="s-footer-contact-box uk-width-1-1 uk-width-1-3@m uk-child-width-auto" uk-grid="">
							<div>
								<span uk-icon="icon: location"></span>
								<p class="s-footer-contact-label">
									Адрес:</p>
							</div>
							<div class="s-footer-contact-item uk-width-expand">
								<p>{{ site.s_address }}</p>
							</div>
						</div>
					</div>
					<div class="uk-divider-icon"></div>
					<div class="s-menu-footer">
						<div class="s-menu-footer-continer uk-flex-center uk-child-width-auto" uk-grid="">
							{% set sub_nav = page
								.find( '/catalog' )
								.children %}
							{% for item in sub_nav %}
								<a href="{{ item.url }}">{{ item.title }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</footer>
			<!-- offcanvas -->
			<div id="menu" uk-offcanvas="flip: true; mode: reveal">
				<div class="s-offcanvas uk-offcanvas-bar">
					<button class="uk-offcanvas-close" type="button" uk-close=""></button>
					<ul class="uk-nav uk-nav-default">

						{% for page in pages.children.visible %}
							{% set current_page = ( page.active or page.activeChild )
								? 'uk-active'
								: '' %}
							<li class="{{ current_page }}">
								<a href="{{ page.url }}">
									{{ page.menu }}
								</a>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
