{% if page.header.published == 1 %}
	{% set catalog_image = page.media.images | first %}
	<div class="s-card-product uk-card uk-card-hover uk-grid-collapse uk-margin-medium-bottom" uk-grid="">
		<div class="uk-width-1-1">
			<div class="uk-padding-remove-bottom uk-card-header uk-grid-small" uk-grid="">
				<div class="uk-width-1-2@s">
					<h3 class="uk-card-title">{{page.header.model}}
						<span class="uk-text-small">{{page.header.sub_model}}</span>
					</h3>
				</div>
				<div class="uk-width-1-2@s">
					{% if page.header.price %}
						<span class="s-card-product-badge uk-badge">{{page.header.price}}</span>
					{% endif %}
				</div>
			</div>
			<hr class="uk-margin-small">
		</div>
		<div class="uk-card-media-left uk-margin-top uk-margin-bottom uk-width-1-2@m" uk-lightbox="">
			<div class="uk-inline uk-dark uk-transition-toggle">
				<a href="{{catalog_image.url}}">{{catalog_image}}
					<div class="uk-transition-fade uk-overlay-default uk-position-cover">
						<div class="uk-position-center">
							<span uk-overlay-icon=""></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="uk-width-1-2@m">
			<div class="uk-card-body">
				<p>{{ page.content }}</p>
				{% if config.plugins.login.enabled and grav.user.username %}
					{% if truncate %}
						<p>
							<a href="{{ page.url }}">Редактировать...</a>
						</p>
					{% endif %}
					{% if not truncate %}
						<a href="{{ page.parent.url }}">Назад</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
